<h3>Upload License</h3>
<div id="license"></div>
<% form_for :asset , :url => { :controller => "profiles", :action => "upload_asset", :key => "license" }, :html => {:id =>"licenseForm", :multipart => true }  do |r| %>
  <%=  r.file_field :asset, :class=>"license"  %>
<% end %>

<h3>Upload Insurance</h3>
<div id="insurance"></div>
<% form_for :asset , :url => { :controller => "profiles", :action => "upload_asset", :key => "insurance" }, :html => {:id =>"insuranceForm", :multipart => true }  do |r| %>
  <%=  r.file_field :asset, :class => "insurance"  %>
<% end %>

<h3>Upload Health Exam 1</h3>
<div id="health_exam_1"></div>
<% form_for :asset , :url => { :controller => "profiles", :action => "upload_asset", :key => "health_exam_1" }, :html => {:id =>"HealthExam1Form", :multipart => true }  do |r| %>
  <%=  r.file_field :asset, :class => "health_exam_1"  %>
<% end %>

<h3>Upload Health Exam 2</h3>
<div id="health_exam_2"></div>
<% form_for :asset , :url => { :controller => "profiles", :action => "upload_asset", :key => "health_exam_2" }, :html => {:id =>"HealthExam2Form", :multipart => true }  do |r| %>
  <%=  r.file_field :asset, :class => "health_exam_2"  %>
<% end %>

<h3>Criminal Background Check</h3>
<div id="criminal_check"></div>
<% form_for :asset , :url => { :controller => "profiles", :action => "upload_asset", :key => "criminal_check" }, :html => {:id =>"CriminalCheckForm", :multipart => true }  do |r| %>
  <%=  r.file_field :asset , :class => "criminal_check"  %>
<% end %>

<h3>Upload Skill Test</h3>
<div id="skilltest"></div>
<% form_for :asset , :url => { :controller => "profiles", :action => "upload_asset", :key => "skill_test" }, :html => {:id =>"SkillTestForm", :multipart => true }  do |r| %>
  <%=  r.file_field :asset, :class => "skill_test"  %>
<% end %>

<h1>Credentails</h1>
<%= error_messages_for :resource %>
<% form_for :resource,@resource, :url => create_credential_profiles_path, :html=>{:id => "profileForm"} do |c| %>
  License Expiration Date: <%= c.date_select :license_expiration_date %><br /><br />
  Insurance Expiration Date: <%= c.date_select :insurance_expiration_date %><br /><br />
  Health Exam 1 Title: <%= c.text_field :health_exam_1_title %><br /><br />
  Health Exam 1 Date: <%= c.date_select :health_exam_1_date %><br /><br />
  Health Exam 2 Title: <%= c.text_field :health_exam_2_title %><br /><br />
  Health Exam 2 Date: <%= c.date_select :health_exam_2_date %><br /><br />
  <%= submit_tag "Submit", :class=>"profle_submit" %><br /><br />
<%end%>

<script type="text/javascript">
  $('.license').change(function(){
    $('#licenseForm').ajaxSubmit({
      beforeSubmit: function(a,f,o) {
        o.dataType = 'json';
      },
      complete: function(XMLHttpRequest, textStatus) {
        var regex = /(<([^>]+)>)/ig;
        var body = XMLHttpRequest.responseText;
        var result = body.replace(regex, "");
        $('#license').html(result);
      }
    });
  });
  
  $('.insurance').change(function(){
    $('#insuranceForm').ajaxSubmit({
      beforeSubmit: function(a,f,o) {
        o.dataType = 'json';
      },
      complete: function(XMLHttpRequest, textStatus) {
        var regex = /(<([^>]+)>)/ig;
        var body = XMLHttpRequest.responseText;
        var result = body.replace(regex, "");
        $('#insurance').html(result);
      }
    });
  });

  $('.health_exam_1').change(function(){
    $('#HealthExam1Form').ajaxSubmit({
      beforeSubmit: function(a,f,o) {
        o.dataType = 'json';
      },
      complete: function(XMLHttpRequest, textStatus) {
        var regex = /(<([^>]+)>)/ig;
        var body = XMLHttpRequest.responseText;
        var result = body.replace(regex, "");
        $('#health_exam_1').html(result);
      }
    });
  });

  $('.health_exam_2').change(function(){
    $('#HealthExam2Form').ajaxSubmit({
      beforeSubmit: function(a,f,o) {
        o.dataType = 'json';
      },
      complete: function(XMLHttpRequest, textStatus) {
        var regex = /(<([^>]+)>)/ig;
        var body = XMLHttpRequest.responseText;
        var result = body.replace(regex, "");
        $('#health_exam_2').html(result);
      }
    });
  });

  $('.criminal_check').change(function(){
    $('#CriminalCheckForm').ajaxSubmit({
      beforeSubmit: function(a,f,o) {
        o.dataType = 'json';
      },
      complete: function(XMLHttpRequest, textStatus) {
        var regex = /(<([^>]+)>)/ig;
        var body = XMLHttpRequest.responseText;
        var result = body.replace(regex, "");
        $('#criminal_check').html(result);
      }
    });
  });

  $('.skill_test').change(function(){
    $('#SkillTestForm').ajaxSubmit({
      beforeSubmit: function(a,f,o) {
        o.dataType = 'json';
      },
      complete: function(XMLHttpRequest, textStatus) {
        var regex = /(<([^>]+)>)/ig;
        var body = XMLHttpRequest.responseText;
        var result = body.replace(regex, "");
        $('#skilltest').html(result);
      }
    });
  });

</script>