<% unless jobs.blank? %>
  <table>
    <tr>
      <th>Client</th>
      <th>Facility</th>
      <th>Registrant</th>
      <th>Date</th>
      <th>Hours</th>
      <th>Location</th>
      <th>Payroll Status</th>
      <th>Invoice Status</th>
      <% if current_user.is_scheduler? %>
        <th>Actions</th>
      <%end%>
    </tr>
    <% jobs.each do |job| %>
      <tr>
        <td><%= job.client.email %></td>
        <td><%= job.facility %></td>
        <td><%= job.registrant.email %></td>
        <td><%= job.date %></td>
        <td><%= job.hours %></td>
        <td><%= job.location %></td>
        <td><%= job.payroll_status %></td>
        <td><%= job.invoice_status %></td>
        <% if current_user.is_scheduler? %>
          <td><%= link_to 'Delete', delete_jobs_path(:id=>job.id) %></td>
        <%end%>
      </tr>
    <%end%>
  </table>
<%else%>
  Sorry! No job listed yet.<br />
<%end%>