<h1>Pays</h1>
<%= error_messages_for :resource %>
<% form_for :resource,@resource, :url => create_pay_registrants_path(:r_id => @registrant.id), :html=>{:id => "profileForm"} do |p| %>
  Hourly Pay Rate:<%= p.text_field :hourly_rate %><br /><br />
  Regular Hours<br />
  from: <%= p.time_select :regular_hours_from %> to: <%= p.time_select :regular_hours_to %><br /><br />
  Overtime Hours<br />
  from: <%= p.time_select :overtime_hours_from %> to: <%= p.time_select :overtime_hours_to %><br /><br />
  Night Hours<br />
  from: <%= p.time_select :night_hours_from %> to: <%= p.time_select :night_hours_to %><br /><br />
  Weekend Hours<br />
  from: <%= p.time_select :weekend_hours_from %> to: <%= p.time_select :weekend_hours_to %><br /><br />
  Pay Type: <%= select_tag "resource[pay_type_id]", options_from_collection_for_select(PayType.all, :id, :title, @resource.pay_type_id ) %><br /><br />
  <%= submit_tag "Submit", :class=>"profle_submit" %><br /><br />
<%end%>