<h1>Preferences</h1>
<%= error_messages_for :resource %>
<% form_for :resource,@resource, :url => create_preference_registrants_path, :html=>{:id => "profileForm"} do |p| %>
  Work On Weekends? <%= select( "resource", "work_on_weekends", { "YES" => "1", "NO" => "0"}) %><br /><br />
  Work After Hours? <%= select( "resource", "work_after_hours", { "YES" => "1", "NO" => "0"}) %><br /><br />
  Maximum Driving Distance: <%= p.text_field :max_driving_distance %><br /><br />
  Contract Type: <%= select_tag "resource[contract_type_id]", options_from_collection_for_select(ContractType.all, :id, :title, @resource.contract_type_id ) %><br /><br />
  <%= submit_tag "Submit", :class=>"profle_submit" %><br /><br />
<%end%>