<p id="links">
  <%= render :partial => "/registrants/profile_links.html" %>
</p>
<% case @resource.class.name %>
<% when "PersonalData" %>
  <%= render :partial => "/registrants/personal_data.html" %>
<% when "Skill" %>
  <%= render :partial => "/registrants/skills.html" %>
<% when "Preference" %>
  <%= render :partial => "/registrants/preferences.html" %>
<% when "Pay" %>
  <%= render :partial => "/registrants/pays.html" %>
<% when "Credential" %>
  <%= render :partial => "/registrants/credentials.html" %>
<% when "WorkLocation" %>
  <%= render :partial => "/registrants/locations.html" %>
<%end%>

<script type="text/javascript">
  $(document).ready(function() {
    $(".profile_links").click(function(){
      $.ajax({
        url: $(this).attr("href"),
        type: 'GET',
        data: $(this).serialize(),
        dataType: 'json',
        success: function(response) {
          $("#profile").html(response.html);
        }
      });
      return false;
    });

    $(".profle_submit").click(function(){
      $.post($("form#profileForm").attr("action"), $("form#profileForm").serialize(), function(response){
        if(response.success){
          $("#profile").html(response.html);
        }
      }, "json");
      return false;
    });

    $(".remove").click(function(){
      $.ajax({
        url: $(this).attr("href"),
        type: 'GET',
        data: $(this).serialize(),
        dataType: 'json',
        success: function(response) {
          $("#profile").html(response.html);
        }
      });
      return false;
    });
    
  });
</script>