<br /><%= link_to "Create New Employee", new_employee_users_path %>
<h1>All Employees List</h1>
<% unless @employees.blank? %>
  <table>
    <tr>
      <th>Email</th>
      <th>Role</th>
      <th>Status</th>
      <th>Actions</th>
    </tr>
    <% @employees.each do |employee| %>
      <tr>
        <td><%= employee.email %></td>
        <td><%= employee.roles.first.title %></td>
        <td><%= employee.status.present? ? employee.status.title : "N/A" %></td>
        <td>
          <% unless employee.active? %>
            <%= link_to "Activate", change_status_users_path(:id => employee.id) %> |
          <%end%>
          <% url = employee.is_registrant? ? profile_registrants_path(:r_id => employee.id ) : profile_schedulers_path(:s_id => employee.id )  %>
          <%= link_to "Manage Profile", url %> |
          <%= link_to "Delete",delete_employee_users_path(:id => employee.id ) %>
        </td>
      </tr>
    <%end%>
  </table>
<%end%>