<h1>Create A New Employee</h1>
<%= error_messages_for :user %>
<%= form_for :user, :url => create_employee_users_path do |f| -%>

  <p><%= label_tag 'email' %><br/>
    <%= f.text_field :email %></p>

  <p><%= label_tag 'password' %><br/>
    <%= f.password_field :password %></p>

  <p><%= label_tag 'password_confirmation', 'Confirm Password' %><br/>
    <%= f.password_field :password_confirmation %></p>

  <p><%= label_tag 'role' %><br/>
    <%= select_tag "role_id", options_from_collection_for_select(@roles, :id, :title ) %></p>

  <p><%= submit_tag 'Sign up' %></p>
<% end -%>
