<div class="logo">
  <% if @organization.present? %>
    <% link = @organization.has_asset?("logo") ?  image_tag(@organization.asset("logo").asset.url , :size => "217x56" ) : @organization.subdomain.name %>
    <h1><%= link_to  link , root_url(:subdomain => @organization.subdomain.name ) %></h1>
  <%else%>
    <h1><%= link_to image_tag("logo.png"), root_url(:subdomain => false ) %></h1>
  <%end%>
</div>

<% subdomain = @organization.present? ? @organization.subdomain.name : false %>

<ul class="topRightNav">
  <% if logged_in? %>
    <li class="bdrLnone"><%= current_user.email %>( <%= current_user.roles.first.title %> )</li>
    <br />
    <li><%= link_to "SignOut", logout_path(:subdomain => subdomain) %></li>
    <li><a href="#">Account</a></li>
    <li class="bdrLnone"><a href="#">Help</a></li>
  <%else%>
    <li><%= link_to "SignUp", signup_url(:subdomain => subdomain) %></li>
    <li class="bdrLnone"><a href="#"><%= link_to "SignIn", login_url(:subdomain => subdomain) %></a></li>
  <%end%>
</ul>