<% if is_subdomian?(request.subdomain) %>
  <h1><%= link_to request.subdomain , root_url(:subdomain => request.subdomain ) %></h1>
<%else%>
  <h1><%= link_to "DUNAMIS TRAINING", root_url(:subdomain => false ) %></h1>
<%end%>

<% if logged_in? %>
  <p>
    <%= current_user.email %> is Logged in As: <%= current_user.roles.first.title %>
  </p>
<%end%>


<% subdomain = is_subdomian?(request.subdomain) ? request.subdomain : false %>
<% if logged_in? %>
  <% if is_subdomian?(request.subdomain) %>
    <% if  current_user.is_organization? %>
      <%= link_to "Add New Employee", new_employee_users_path(:subdomain => subdomain) %> |
    <% elsif  current_user.is_registrant? %>
      <%= link_to "My Profile", my_profile_profiles_path(:subdomain => subdomain) %> |
    <%end%>
  <%end%>
  <%= link_to "Sign Out", logout_path(:subdomain => subdomain) %>
<%else%>
  <%= link_to "Sign In", login_path(:subdomain => subdomain) %>
  <% if !is_subdomian?(request.subdomain) %>
    | <%= link_to "Sign Up As Organization", signup_path %>
  <%end%>
<%end%>