<% if @organization.present? %>
  <h1><%= link_to @organization.subdomain.name , root_url(:subdomain => @organization.subdomain.name ) %></h1>
<%else%>
  <h1><%= link_to "DUNAMIS TRAINING", root_url(:subdomain => false ) %></h1>
<%end%>

<% if logged_in? %>
  <p>
    <%= current_user.email %> is Logged in As: <%= current_user.roles.first.title %>
  </p>
<%end%>


<% subdomain = @organization.present? ? @organization.subdomain.name : false %>
<% if logged_in? %>
  <% if @organization.present? %>
    <% if  current_user.is_organization? %>
      <%= link_to "Manage Employees", list_employees_users_path(:subdomain => subdomain) %> |
      <%= link_to "Reports", reports_organizations_url(:subdomain => subdomain) %> |
      <%= link_to "Statistics", statistics_organizations_url(:subdomain => subdomain) %> |
    <% elsif  current_user.is_registrant? %>
      <%= link_to "My Profile", my_profile_registrants_path(:subdomain => subdomain) %> |
    <% elsif  current_user.is_scheduler? %>
      <%= link_to "Manage Clients",list_clients_path(:subdomain => subdomain) %> |
      <%= link_to "Manage Jobs",list_jobs_path(:subdomain => subdomain) %> |
    <%end%>
  <%else%>
    <%= link_to "Manage Organizations", list_organizations_url(:subdomain => subdomain) %> |
    <%= link_to "Reports", all_reports_organizations_url(:subdomain => subdomain) %> |
  <%end%>
  <%= link_to "Sign Out", logout_path(:subdomain => subdomain) %>
<%else%>
  <%= link_to "Sign In", login_url(:subdomain => subdomain) %>
  <% unless @organization.present? %>
    | <%= link_to "Get Registered", signup_url(:subdomain => subdomain) %>
  <%end%>
<%end%>