<h1>All Pays List</h1>
<% unless @pays.blank? %>
  <table>
    <tr>
      <th>Name</th>
      <th>Actions</th>
    </tr>
    <% @pays.each do |pay| %>
      <tr>
        <td><%= pay.title %></td>
        <td>
          <%= link_to "Remove", remove_pay_home_index_path(:id => pay.id )  %>
        </td>
      </tr>
    <%end%>
  </table>
<%else%>
  No Pay Type Listed Yet. <br /><br />
<%end%>

<h2>Add New Pay Type</h2>
<%= form_for :pay_type, :url => add_pay_home_index_path do |f| -%>
  <p><%= label_tag 'Name' %><br/>
    <%= f.text_field :title %></p>
  <p><%= submit_tag 'Add' %></p>
<% end -%>