<td>
  <%= f.hidden_field :day, :value => day %>
  <%= day.capitalize %>
</td>
<td>
  <%= f.text_field :break_start,{:id => "break_start_#{day}"} %>
</td>
<td>
  <%= f.text_field :break_end,{:id => "break_end_#{day}"}%>
</td>
<td>
  <%= f.text_field :time_in,{:id => "time_in_#{day}"} %>
</td>
<td>
  <%= f.text_field :time_out,{:id => "#{day}", :class => "entry"} %>
</td>
<td>
  <%= f.text_field :hours, :value => "0:00", :id => "hours_#{day}" %>
</td>