<p>
  <%= label_tag 'Client' %><br/>
  <%= select_tag "client_id", options_from_collection_for_select(@organization.clients, :id, :display_name, @timesheet.client_id  ) %>
</p>


<p>
  <%= label_tag 'Registrant' %><br/>
  <% if current_user.is_registrant? %>
    <%=  current_user.display_name  %>
    <%= hidden_field_tag :registrant_id, current_user.id %>
  <%else%>
    <%= select_tag "registrant_id", options_from_collection_for_select(@organization.registrants, :id, :display_name, @timesheet.registrant_id) %>
  <%end%>
</p>

<p>
  <%= label_tag 'Facility' %><br/>
  <%= f.text_field :facility  %>
</p>

<p>
  <%= label_tag 'Date( end of week )' %><br/>
  <%= f.date_select :end_of_week  %>
</p>

<table>
  <tr>
    <th>Day</th>
    <th>Break Start(00:00)</th>
    <th>Break End(00:00)</th>
    <th>Time In(00:00)</th>
    <th>Time Out(00:00)</th>
    <th>Hours(00:00)</th>
  </tr>
  <tr>
    <%= fields_for :sunday, @sunday do |s| %>
      <%= render :partial => "/timesheets/entry", :locals => { :f => s, :day => "sunday", :resourse => @sunday  } %>
    <% end %>
  </tr>
  <tr>
    <%= fields_for :monday, @monday do |s| %>
      <%= render :partial => "/timesheets/entry", :locals => { :f => s, :day => "monday", :resourse => @monday } %>
    <% end %>
  </tr>
  <tr>
    <%= fields_for :teusday, @teusday do |s| %>
      <%= render :partial => "/timesheets/entry", :locals => { :f => s , :day => "teusday", :resourse => @teusday } %>
    <% end %>
  </tr>
  <tr>
    <%= fields_for :wednesday, @wednesday do |s| %>
      <%= render :partial => "/timesheets/entry", :locals => { :f => s , :day => "wednesday", :resourse => @wednesday } %>
    <% end %>
  </tr>
  <tr>
    <%= fields_for :thursday, @thursday do |s| %>
      <%= render :partial => "/timesheets/entry", :locals => { :f => s , :day => "thursday", :resourse => @thursday } %>
    <% end %>
  </tr>
  <tr>
    <%= fields_for :friday, @friday do |s| %>
      <%= render :partial => "/timesheets/entry", :locals => { :f => s , :day => "friday", :resourse => @friday } %>
    <% end %>
  </tr>
  <tr>
    <%= fields_for :saturday, @saturday do |s| %>
      <%= render :partial => "/timesheets/entry", :locals => { :f => s , :day => "saturday" , :resourse => @saturday } %>
    <% end %>
  </tr>
</table>

<p>
  <%= label_tag 'Total Hours' %><br/>
  <% value = @timesheet.total_hours.present? ? @timesheet.total_hours : "00:00" %>
  <%= f.text_field :total_hours, :value => value, :id => "total_hours" %>
</p>

<p>
  <%= label_tag 'Status' %><br/>
  <%= select( "timesheet", "status", { "New" => "new","Approved" => "approved", "Invoiced" => "invoiced","Dispute" => "dispute", "Paid" => "paid"}) %>
</p>


<h2>Timesheet Images</h2>
<p>
  <% unless @timesheet.timesheet_images.blank? %>
    <% @timesheet.timesheet_images.each do |img| %>
      <%= image_tag(img.image.url(:thumb))%>
    <%end%>
  <%end%>
</p>
<p>
<div id="file">
  <%= file_field_tag "images[]" %><%= link_to "Add Another","javascript:void(0)",:id=>"add_another" %><br />
</div>
</p>


<script type="text/javascript">
    

$(".timesheet_submit").click(function(){
      $.post($("form#timesheettForm").attr("action"), $("form#timesheettForm").serialize(), function(response){
        if(response.success){
          $("#edit").html(response.html);
        }
      }, "html");
      id = <%= @timesheet.id %>;
       details(id);
       myedit(id);
       load_updated_list();
      return false;
    });
function details(id) {
      var container = $("#details_content");

    $.ajax({
      url: '/timesheets/details?id='+id,
      type: 'get',
      dataType: 'html',
      processData: false,
      success: function(data) {
      container.html(data);
      }
    });
     myedit(id);
      return false;

   }
       function myedit(id) {


      var container = $("#edit");

    $.ajax({
      url: '/timesheets/myedit?id='+id,
      type: 'get',
      dataType: 'html',
      processData: false,
      success: function(data) {
      container.html(data);
      }
    });



   }
function load_updated_list() {


      var container = $("#list");

    $.ajax({
      url: '/timesheets/ajax_list',
      type: 'get',
      dataType: 'html',
      processData: false,
      success: function(data) {
      container.html(data);
      }
    });



   }
    $("#add_another").click(function(){
      $('#file').append(function() {
        return "<div id='file'><input id='images_' name='images[]' type='file'><br></div>";
      });
    });

    $(".entry").blur(function(){
      var break_start = $("#break_start_"+$(this).attr("id")).val();
      var break_end = $("#break_end_"+$(this).attr("id")).val();
      var time_in = $("#time_in_"+$(this).attr("id")).val();
      var time_out = $(this).val();
      if(!break_start.match(/^\s*$/)  &&  !break_end.match(/^\s*$/)){
        var bs_minuts = convert_in_minuts(break_start);
        var be_minuts = convert_in_minuts(break_end);
        if( be_minuts > bs_minuts ){
          var  break_minuts = be_minuts - bs_minuts;
        }
      }
      if(!time_in.match(/^\s*$/)  &&  !time_out.match(/^\s*$/)){
        var ti_minuts = convert_in_minuts(time_in);
        var to_minuts = convert_in_minuts(time_out);
        if( to_minuts > ti_minuts ){
          var  time_minuts = to_minuts - ti_minuts;
        }
      }
      if( break_minuts && time_minuts ){
        var total_minuts = time_minuts - break_minuts;
        $("#hours_"+$(this).attr("id")).val(convert_to_time(total_minuts));
      }
      var total_hours_time = 0;
      $(".hours").each(function(){
        var total_minuts = convert_in_minuts($(this).val());
        total_hours_time =  total_hours_time + total_minuts;
        $("#total_hours").val(convert_to_time(total_hours_time));
      });
    });

    function convert_in_minuts(time){
      var time_split = time.split(":");
      var time_minuts = (parseInt(time_split[0])*60 + parseInt(time_split[1]));
      return time_minuts
    }

    function convert_to_time(minuts){
      var  hours = minuts / 60;
      var  minuts = minuts % 60;
      return parseInt(hours)+":"+parseInt(minuts);
    }


</script>