<% unless @timesheets.blank? %>
  <table>
    <tr>
      <th>Client</th>
      <th>Registrant</th>
      <th>Facility</th>
      <th>Status</th>
      <th>Date(end of week)</th>
      <th>Total Hours</th>
      <th>Actions</th>
    </tr>
    <% @timesheets.each do |sheet| %>
     
    <tr style="cursor: pointer;" onclick="details('<%=sheet.id%>');">
        <td><%= sheet.client.display_name %></td>
        <td><%= sheet.registrant.display_name %></td>
        <td><%= sheet.facility %></td>
        <td><%= sheet.status %></td>
        <td><%= sheet.end_of_week.strftime("%d/%m/%Y") %></td>
        <td><%= sheet.total_hours %></td>
        
      </tr>
    <%end%>
  </table>
<%else%>
  Sorry! No TimeSheet listed yet.<br />
<%end%>
 

