<h1>Timesheet Details</h1><br />
Client: <%= @timesheet.client.display_name %><br /><br />
Registrant: <%= @timesheet.registrant.display_name %><br /><br />
Facility: <%= @timesheet.facility %><br /><br />
WeekEnd: <%= @timesheet.end_of_week.strftime("%d/%m/%Y") %><br /><br />
Status: <%= @timesheet.status %><br /><br />

<table>
  <tr>
    <th>Day</th>
    <th>BreakStart</th>
    <th>BreakEnd</th>
    <th>TimeIn</th>
    <th>TimeOut</th>
    <th>Hours</th>
  </tr>
  <% @timesheet.timesheet_entries.each do |entry| %>
    <tr>
      <td><%= entry.day.capitalize %></td>
      <td><%= entry.break_start %></td>
      <td><%= entry.break_end %></td>
      <td><%= entry.time_in %></td>
      <td><%= entry.time_out %></td>
      <td><%= entry.hours %></td>
    </tr>
  <%end%>
</table>
<br />
Total Hours: <%= @timesheet.total_hours %><br /><br />

<h2>Timesheet Images</h2>
<% unless @timesheet.timesheet_images.blank? %>
  <% @timesheet.timesheet_images.each do |img| %>
    <%= image_tag(img.image.url(:thumb))%>
  <%end%>
<%end%>
<br /><br />

<% unless current_user.is_registrant? %>
  <%= link_to 'Edit', edit_timesheets_path(:id => @timesheet.id) %> |
  <%= link_to 'Delete', delete_timesheets_path(:id => @timesheet.id) %>
<%else%>
  <%= link_to 'Edit', edit_timesheets_path(:id => @timesheet.id) if current_user.timesheets_of.include?(@timesheet)%>
<%  end %>
