<br /><%= link_to "Create New Organization", new_organizations_path %><br /><br />
<h1>Organizations</h1>
<% unless @organizations.blank? %>
  <table>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>URL</th>
      <th>Status</th>
      <th>Total Employees</th>
      <th>Total Schedulers</th>
      <th>Total Registrants</th>
      <th>Total Associated Clients</th>
      <th>Actions</th>
    </tr>
    <% @organizations.each do |organization| %>
      <tr>
        <td><%= organization.display_name %></td>
        <td><%= organization.email %></td>
        <td><%= "http://#{organization.subdomain.name}.#{request.host_with_port}/" %></td>
        <td><%= organization.status.title %></td>
        <td><%= organization.employees.size %></td>
        <td><%= organization.schedulers.size %></td>
        <td><%= organization.registrants.size %></td>
        <td><%= organization.clients.size %></td>
        <td>
          <% if organization.status.title == "active" %>
            <%= link_to "Put Onhold",change_status_organizations_path(:id => organization.id, :key => "on_hold") %> |
          <%else%>
            <%= link_to "Activate",change_status_organizations_path(:id => organization.id, :key => "active" ) %> |
          <%end%>
          <%= link_to "Statistics",statistics_organizations_path(:id => organization.id ) %> |
          <%= link_to "Delete",delete_organization_organizations_path(:id => organization.id ) %>
        </td>
      </tr>
    <%end%>
  </table>
<%end%>